*{ box-sizing: border-box; }

h1, h2{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #040039;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.8rem;
}

body{
    background: linear-gradient(#3f0f9e, #a9a7cb);
    height: 100vh;
}

.title{
    width: 54rem;
    margin: 0 auto;
    padding: 0;
}

.subtitle{
    width: 56rem;
    margin: 0 auto;
    padding: 0;
}